
<title>我的博客</title>

<!-- Bootstrap core CSS -->
<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="__PUBLIC__/css/blog.css" rel="stylesheet">


<script src="__PUBLIC__/js/ie-emulation-modes-warning.js"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
<script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item " href='{:U("Blog/blog")}'>主页</a>
            <a class="blog-nav-item" href='{:U("About/about")}'>关于我</a>
            <a class="blog-nav-item active" href='{:U("Whisper/whisper")}'>碎言碎语</a>
            <a class="blog-nav-item" href='{:U("Diary/diary")}'>个人日记</a>
            <a class="blog-nav-item" href='{:U("Guestbook/guestbook")}'>留言板</a>
        </nav>
    </div>
</div>

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">个人博客</h1>
        <p class="lead blog-description">真正的友谊不是一株瓜蔓，会在一夜之间蹿起来，一天之内枯萎下去。</p>
    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">
        -------------------------------------------------------------------------------------------
            <div class="blog-post">
                <h3>小时候，天空分明触手可及 于是喜欢上雨，因它带来天空的气味</h3>

            </div><!-- /.Blog-post -->

            <div class="blog-post">
                <h3>隐约雷鸣 阴霾天空 即使天无雨 我亦留此地</h3>

            </div><!-- /.Blog-post -->



