
<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item active" href='{:U("Blog/blog")}'>主页</a>
            <a class="blog-nav-item" href='{:U("About/about")}'>关于我</a>
            <a class="blog-nav-item" href='{:U("Whisper/whisper")}'>碎言碎语</a>
            <a class="blog-nav-item" href='{:U("Diary/diary")}'>个人日记</a>
            <a class="blog-nav-item" href='{:U("Guestbook/guestbook")}'>留言板</a>

        </nav>
    </div>


    <div class="btn-group pull-right">
        {:W('UserInfo/getUserinfo')}
    </div>
</div>

<div class="container">

    <div class="blog-header">
        <h3 class="blog-title">修改博文</h3>

    </div>
    <div class="row">
        <div class="col-sm-8 blog-main">
            <div class="blog-post">
                <form id='topic_form' name="addtopic" action="{:U('Blog/doModify?id',array('id'=>$content['id']))}" method="post">
                    <h4>标题</h4>
                    <input type="text" name='title' id='title' value={$content.title} style="width:95%;">

                    <h4>内容</h4>

                    <textarea id="editor_id" name="content" style="width:97%;height:400px;">{$content.content}</textarea>

                    <button href="javascript:;" id="topic_sub_btn" class="btn btn-primary pull-right" style="margin-right: 18px;">提交修改</button><span></span>
                </form>
            </div>

