
</div><!-- /.Blog-main -->

<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
        <h4>About</h4>
        <p>刘老板  喜欢写文档和研究算法</p>
    </div>
    <div class="sidebar-module">
        <h4>Archives</h4>
        <ol class="list-unstyled">
            <li><a href="http://www.cnblogs.com/end/p/3848740.html">支持向量机（SVM）算法</a></li>
            <li><a href="http://tech.sina.com.cn/i/2016-02-23/doc-ifxprucu3124795.shtml">关于深度学习，看这一篇就够了</a></li>
        </ol>
    </div>
    <div class="sidebar-module">
        <h4>Elsewhere</h4>
        <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">QQ</a></li>
            <li><a href="#">微信</a></li>
        </ol>
    </div>
</div><!-- /.Blog-sidebar -->

</div><!-- /.row -->

</div><!-- /.container -->

<div class="blog-footer">
    <p>Blog template built for <a href="http://getbootstrap.com">Blog</a> by <a href="https://twitter.com/mdo">sai</a>.</p>
    <p>
        <a href="#">回到顶部</a>
    </p>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
<script src="__PUBLIC__Public/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="__PUBLIC__/js/ie10-viewport-bug-workaround.js"></script>
<script src="__PUBLIC__/js/checkform.js"></script>
<script src="__PUBLIC__/js/dev.main.js"></script>
</body>
</html>